*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* body{
    background-color: black;
} */
.container{
    height: 100vh;
    display: grid;
    justify-content: center;
    flex-direction: column;
}
.container1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
 .btn{ 
     text-align: center;
    height: 50px;
    width: 100px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0);
} 